<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Hotel</display-name>
  <context-param>
  <param-name>driver</param-name>
  <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
  <param-name>url</param-name>
  <param-value>jdbc:mysql://localhost:3306/hotel_management</param-value>
  </context-param>
  <context-param>
  <param-name>user</param-name>
  <param-value>root</param-value>
  </context-param>
  <context-param>
  <param-name>pass</param-name>
  <param-value>rishabhsql</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_room</display-name>
    <servlet-name>Add_room</servlet-name>
    <servlet-class>Add_room</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_room</servlet-name>
    <url-pattern>/Add_room</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit_room</display-name>
    <servlet-name>Edit_room</servlet-name>
    <servlet-class>Edit_room</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_room</servlet-name>
    <url-pattern>/Edit_room</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_room</display-name>
    <servlet-name>Delete_room</servlet-name>
    <servlet-class>Delete_room</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_room</servlet-name>
    <url-pattern>/Delete_room</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_staff</display-name>
    <servlet-name>Add_staff</servlet-name>
    <servlet-class>Add_staff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_staff</servlet-name>
    <url-pattern>/Add_staff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit_staff</display-name>
    <servlet-name>Edit_staff</servlet-name>
    <servlet-class>Edit_staff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_staff</servlet-name>
    <url-pattern>/Edit_staff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_staff</display-name>
    <servlet-name>Delete_staff</servlet-name>
    <servlet-class>Delete_staff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_staff</servlet-name>
    <url-pattern>/Delete_staff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_booking</display-name>
    <servlet-name>Add_booking</servlet-name>
    <servlet-class>Add_booking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_booking</servlet-name>
    <url-pattern>/Add_booking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_booking</display-name>
    <servlet-name>Delete_booking</servlet-name>
    <servlet-class>Delete_booking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_booking</servlet-name>
    <url-pattern>/Delete_booking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit_booking</display-name>
    <servlet-name>Edit_booking</servlet-name>
    <servlet-class>Edit_booking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_booking</servlet-name>
    <url-pattern>/Edit_booking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Payment</display-name>
    <servlet-name>Payment</servlet-name>
    <servlet-class>Payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/Payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Change_password</display-name>
    <servlet-name>Change_password</servlet-name>
    <servlet-class>Change_password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Change_password</servlet-name>
    <url-pattern>/Change_password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Feedback</display-name>
    <servlet-name>Feedback</servlet-name>
    <servlet-class>Feedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Feedback</servlet-name>
    <url-pattern>/Feedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_customer</display-name>
    <servlet-name>Add_customer</servlet-name>
    <servlet-class>Add_customer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_customer</servlet-name>
    <url-pattern>/Add_customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_customer</display-name>
    <servlet-name>Delete_customer</servlet-name>
    <servlet-class>Delete_customer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_customer</servlet-name>
    <url-pattern>/Delete_customer</url-pattern>
  </servlet-mapping>
</web-app>